<div class="card">
  <div class="card-header"><h4><span class="badge badge-default">Changing credentials</span></h4></div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-4">Enter old password:</div>
      <div class="col-sm-4"><input type="password" [(ngModel)]="oldPwd" name="1" class="form-control"></div>
      <div class="col-sm-4"></div>
    </div>
    <div class="row">
      <div class="col-sm-4">Enter new password:</div>
      <div class="col-sm-4"><input type="password" [(ngModel)]="newPwd1" name="2" class="form-control"></div>
      <div class="col-sm-4"></div>
    </div>
  <div class="row">
      <div class="col-sm-4">Again:</div>
      <div class="col-sm-4"><input type="password" [(ngModel)]="newPwd2" name="3" class="form-control"></div>
      <div class="col-sm-4"></div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <div class="d-flex flex-row">
          <div class="p-2"><button (click)="changePassword()" class="btn btn-success">Go</button></div>
          <div class="p-2" ml-5><span class="badge badge-info">{{message}}</span></div>
        </div>
      </div>
      <div class="col-sm-4"></div>
    </div> 
  </div>
  <div class="card-footer"></div>
</div>
